[submodule "src/talos"]
	path = src/talos
	url = git://github.com/wlach/talos.git
[submodule "src/mozmill"]
	path = src/mozmill
	url = git://github.com/ctalbert/mozmill.git
[submodule "src/pageloader"]
	path = src/pageloader
	url = git://github.com/wlach/pageloader.git
[submodule "src/templeton"]
	path = src/templeton
	url = git://github.com/wlach/templeton.git
[submodule "src/mozbase"]
	path = src/mozbase
	url = git://github.com/wlach/mozbase.git
[submodule "src/tests/ep1"]
	path = src/tests/ep1
	url = git://wrla.ch/ep1.git
[submodule "src/mozregression"]
	path = src/mozregression
	url = git://github.com/wlach/mozregression.git
[submodule "src/orangutan"]
	path = src/orangutan
	url = git://github.com/wlach/orangutan.git
[submodule "src/marionette_client"]
	path = src/marionette_client
	url = git://github.com/mozilla/marionette_client
[submodule "src/GeckoProfilerAddon"]
	path = src/GeckoProfilerAddon
	url = https://github.com/bgirard/Gecko-Profiler-Addon.git
