*.d
*.o
*.pyc
*~
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/decklink-capture
bin/decklink-convert.sh
bin/easy_install
bin/easy_install-2.7
bin/eideticker-server
bin/manifestparser
bin/mozhttpd
bin/mozinfo
bin/mozprofile
bin/mozrunner
bin/pip
bin/pip-2.7
bin/python
bin/templeton
bin/templeton.fcgi
bin/templetond
captures/*zip
captures/*cache
conf/talos.config
downloads/mobile_tp4.zip
include/
lib/
src/videocapture/build/*
src/videocapture/videocapture.egg-info/
src/videocapture/videocapture/decklink/decklink-capture
src/videocapture/videocapture/pointgrey/pointgrey-capture
src/videocapture/videocapture/pointgrey/get-camera-id
src/videocapture/videocapture/pointgrey/dump-current-settings
src/videocapture/videocapture/pointgrey/setup-camera
src/dashboard/profiles/*.zip
src/dashboard/videos/*.webm
