[submodule "src/talos"]
	path = src/talos
	url = git://github.com/wlach/talos.git
[submodule "src/mozmill"]
	path = src/mozmill
	url = git://github.com/ctalbert/mozmill.git
[submodule "src/pageloader"]
	path = src/pageloader
	url = git://github.com/wlach/pageloader.git
[submodule "src/templeton"]
	path = src/templeton
	url = git://github.com/wlach/templeton.git
[submodule "src/tests/ep1"]
	path = src/tests/ep1
	url = git://wrla.ch/ep1.git
[submodule "src/orangutan"]
	path = src/orangutan
	url = git://github.com/wlach/orangutan.git
[submodule "src/GeckoProfilerAddon"]
	path = src/GeckoProfilerAddon
	url = https://github.com/bgirard/Gecko-Profiler-Addon.git
[submodule "src/flot"]
	path = src/flot
	url = git://github.com/flot/flot.git
[submodule "src/flot-axislabels"]
	path = src/flot-axislabels
	url = git://github.com/markrcote/flot-axislabels.git
[submodule "src/flot-hiddengraphs"]
	path = src/flot-hiddengraphs
	url = git://github.com/markrcote/flot-hiddengraphs.git
