.list-group { font-size: 13px; padding: 2px; padding-top: 16px; margin-bottom: 10px;
            }
.list-group-item { padding: 4px 8px; }
.list-group::before {
    position: relative;
    top:  -8px;
    left: 4px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#device-chooser::before {
    content: "Device";
}
#branch-chooser::before {
    content: "Branch";
}
#test-chooser::before {
    content: "Test";
}
#graph-container {
    padding-top: 18px;
    min-height: 400px;
}
#graph-main {
    min-width: 600px;

   -webkit-flex: 1 6;
           flex: 1 6;
}
#graph-annotation {
    min-width: 300px;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
   -webkit-flex: 1 6 300px
           flex: 1 6 300px
}
#graph-container .button {
    position: absolute;
    cursor: pointer;
}
#graph-container div.button {
    font-size: smaller;
    color: #999;
    background-color: #eee;
    padding: 2px;
}
#legend {
    padding-top: 18px;
}
#datapoint-info {
    font-size: 13px;
}
#video {
    max-height: 120px;
}

#main {
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

#chooser {
    padding: 20px;
    min-width: 200px;
   -webkit-flex: 1 6 200px
           flex: 1 6 200px
}

#data-header {
    padding-right: 20px;
}

#data-view {
    height: auto;
    min-width: 900px;
   -webkit-flex: 1 6;
           flex: 1 6;

   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
}

#data-body {
    height: auto;
    min-width: 900px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

#video {
    max-height: 300px;
}

#datapoint-replicates {
    width: 100%;
    height: 200px;
    padding: 20px;
}

footer {
    padding: 40px;
}

